.widget {
  padding: $global-padding/2;
  margin-bottom: $global-margin;

  &[class*=" bg-"] {
    padding: $global-padding !important;
  }

  .widget-title {
    margin-top: 0;
    text-transform: capitalize;
    line-height: 0.9;
  }

  .featured-image {
    max-height: 200px;

    figure {
      max-height: 200px;

      img {
        max-height: 200px;
      }
    }
  }

  .form-group {
    width: 100%;

    .form-control {
      flex-grow: 1;
    }
  }
}

aside.sidebar {
  .widget-table-of-contents {
    background-color: transparent;
    margin-bottom: 0;

    #TableOfContents {
      li {
        list-style-type: none;
        line-height: 1.2;
      }
      
      ul {
        padding: 0;
        margin : 0;

        a {
          display: block;
          color: $dark;
          margin-bottom: 0.75rem;
        }
      }

      > ul {
        > li {
          > ul {
            > li {
              ul {
                padding-left: 0.5rem;
              }

              > a {
                font-size: $h5-font-size;
              }
            }        
          }
        }

        &:first-child {
          > li > a {
            font-size: $h5-font-size;
          }
        }
      }
    }
  }
}